-- MySQL dump 10.13  Distrib 8.0.21, for Win64 (x86_64)
--
-- Host: localhost    Database: chat
-- ------------------------------------------------------
-- Server version	8.0.21

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `conversation`
--

DROP TABLE IF EXISTS `conversation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conversation` (
  `id` int NOT NULL AUTO_INCREMENT,
  `thumbnail` varchar(255) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `last_message_id` int DEFAULT NULL,
  `user_count` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conversation`
--

LOCK TABLES `conversation` WRITE;
/*!40000 ALTER TABLE `conversation` DISABLE KEYS */;
INSERT INTO `conversation` VALUES (13,'iu.PNG','?꾩씠???좎씤??,111,2),(14,'iu.PNG','?꾩씠???좎씤??,79,2),(15,'iu.PNG','?꾩씠???좎씤??,0,2),(16,'iu.PNG','?꾩씠???좎씤??,0,2),(20,'iu.PNG','?꾩씠???좎씤??,91,2),(22,'iu.PNG','?꾩씠??,0,1);
/*!40000 ALTER TABLE `conversation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `message`
--

DROP TABLE IF EXISTS `message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `message` (
  `id` int NOT NULL AUTO_INCREMENT,
  `conversation_id` int DEFAULT NULL,
  `user_id` int DEFAULT NULL,
  `message_type` int DEFAULT NULL,
  `message` text,
  `updated` timestamp NULL DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=112 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `message`
--

LOCK TABLES `message` WRITE;
/*!40000 ALTER TABLE `message` DISABLE KEYS */;
INSERT INTO `message` VALUES (1,14,2,1,'asdfasdf','2022-12-21 16:39:14',NULL,'?좎씤??),(2,13,2,1,'asdf','2022-12-21 16:39:19',NULL,'?좎씤??),(3,13,2,1,'asdfasdf','2022-12-21 16:39:29',NULL,'?좎씤??),(4,13,2,1,'asdf','2022-12-21 16:40:32',NULL,'?좎씤??),(5,13,2,1,'sadf','2022-12-21 16:40:32',NULL,'?좎씤??),(6,13,2,1,'asdf','2022-12-21 16:40:36',NULL,'?좎씤??),(7,13,2,1,'asdf','2022-12-21 16:40:37',NULL,'?좎씤??),(8,13,2,1,'asdf','2022-12-21 16:47:30',NULL,'?좎씤??),(9,13,2,1,'asdf','2022-12-21 16:47:31',NULL,'?좎씤??),(10,13,2,1,'asdf','2022-12-21 16:47:32',NULL,'?좎씤??),(11,13,2,1,'sadf','2022-12-21 16:47:35',NULL,'?좎씤??),(12,13,2,1,'asdf','2022-12-21 16:47:36',NULL,'?좎씤??),(13,13,2,1,'asdf','2022-12-21 16:47:37',NULL,'?좎씤??),(14,13,2,1,'asdf','2022-12-21 16:51:19',NULL,'?좎씤??),(15,13,2,1,'asdf','2022-12-21 16:51:21',NULL,'?좎씤??),(16,13,2,1,'asdf','2022-12-21 16:52:06',NULL,'?좎씤??),(17,13,2,1,'ASD','2022-12-21 17:03:59',NULL,'?좎씤??),(18,13,2,1,'ASDF','2022-12-21 17:04:01',NULL,'?좎씤??),(19,13,2,1,'ASDF','2022-12-21 17:04:03',NULL,'?좎씤??),(20,13,2,1,'SDF','2022-12-21 17:04:04',NULL,'?좎씤??),(21,13,2,1,'ASDF','2022-12-21 17:06:03',NULL,'?좎씤??),(22,13,1,1,'ASDF','2022-12-21 17:06:07',NULL,'?꾩씠??),(23,13,2,1,'ASDF','2022-12-21 17:06:09',NULL,'?좎씤??),(24,13,2,1,'SDF','2022-12-21 17:06:10',NULL,'?좎씤??),(25,13,2,1,'ASDF','2022-12-21 17:06:15',NULL,'?좎씤??),(26,13,2,1,'ASDF','2022-12-21 17:06:17',NULL,'?좎씤??),(27,13,2,1,'asdf','2022-12-21 17:11:50',NULL,'?좎씤??),(28,13,2,1,'asdf','2022-12-21 17:11:50',NULL,'?좎씤??),(29,13,2,1,'asdf','2022-12-21 17:11:54',NULL,'?좎씤??),(30,13,2,1,'sadf','2022-12-21 17:11:54',NULL,'?좎씤??),(31,13,2,1,'asdf','2022-12-21 17:12:09',NULL,'?좎씤??),(32,13,2,1,'asdf','2022-12-21 17:12:10',NULL,'?좎씤??),(33,13,2,1,'asdf','2022-12-21 17:12:15',NULL,'?좎씤??),(34,13,2,1,'asdf','2022-12-21 17:12:16',NULL,'?좎씤??),(35,13,1,1,'asdf','2022-12-21 17:12:17',NULL,'?꾩씠??),(36,13,1,1,'sadf','2022-12-21 17:12:18',NULL,'?꾩씠??),(37,13,1,1,'asdf','2022-12-21 17:12:21',NULL,'?꾩씠??),(38,13,2,1,'asdf','2022-12-21 17:12:25',NULL,'?좎씤??),(39,14,2,1,'asdf','2022-12-21 17:16:32',NULL,'?좎씤??),(40,14,2,1,'asdf','2022-12-21 17:16:34',NULL,'?좎씤??),(41,13,2,1,'sadf','2022-12-21 17:16:37',NULL,'?좎씤??),(42,13,2,1,'sdf','2022-12-21 17:16:38',NULL,'?좎씤??),(43,13,2,1,'sdf','2022-12-21 17:16:50',NULL,'?좎씤??),(44,13,1,1,'asdf','2022-12-21 17:22:51',NULL,'?꾩씠??),(45,13,1,1,'asdf','2022-12-21 17:22:51',NULL,'?꾩씠??),(46,14,2,1,'asdf','2022-12-21 17:41:20',NULL,'?좎씤??),(47,13,1,1,'asdf','2022-12-21 17:44:55',NULL,'?꾩씠??),(48,14,1,1,'asdf','2022-12-21 17:44:58',NULL,'?꾩씠??),(49,13,1,1,'asdf','2022-12-21 18:01:26',NULL,'?꾩씠??),(50,14,1,1,'asdf','2022-12-21 18:01:28',NULL,'?꾩씠??),(51,13,2,1,'sadf','2022-12-21 18:29:28',NULL,'?좎씤??),(52,13,2,1,'asdf','2022-12-21 18:29:29',NULL,'?좎씤??),(53,13,2,1,'sdf','2022-12-21 18:29:32',NULL,'?좎씤??),(54,13,2,1,'sdf','2022-12-21 18:29:33',NULL,'?좎씤??),(55,13,1,1,'sdf','2022-12-21 18:29:36',NULL,'?꾩씠??),(56,13,1,1,'asdf','2022-12-21 18:29:37',NULL,'?꾩씠??),(57,13,1,1,'asdf','2022-12-21 18:46:01',NULL,'?꾩씠??),(58,14,1,1,'asdfasdf','2022-12-21 18:46:05',NULL,'?꾩씠??),(59,14,1,1,'zzz','2022-12-21 18:46:07',NULL,'?꾩씠??),(60,13,1,1,'asdf','2022-12-21 18:48:14',NULL,'?꾩씠??),(61,14,1,1,'sadf','2022-12-21 18:48:16',NULL,'?꾩씠??),(62,14,1,1,'sdf','2022-12-21 18:48:17',NULL,'?꾩씠??),(63,14,2,1,'%E3%85%81%E3%84%B4%E3%85%87%E3%84%B9','2022-12-21 19:31:47',NULL,'?좎씤??),(64,13,1,1,'%E3%85%81%E3%84%B4%E3%85%87%E3%84%B9','2022-12-21 19:31:48',NULL,'?꾩씠??),(65,13,2,1,'%E3%85%81%E3%84%B4%E3%85%87%E3%84%B9','2022-12-21 19:31:52',NULL,'?좎씤??),(66,13,2,1,'%E3%84%B4%E3%85%81%E3%85%87%E3%84%B9','2022-12-21 19:31:53',NULL,'?좎씤??),(67,13,2,1,'%E3%84%B4%E3%85%81%E3%85%87%E3%84%B9','2022-12-21 19:31:54',NULL,'?좎씤??),(68,13,2,1,'%E3%84%B4%E3%85%81%E3%85%87%E3%84%B9','2022-12-21 19:31:57',NULL,'?좎씤??),(69,13,2,1,'%E3%84%B4%E3%85%81%E3%85%87','2022-12-21 19:31:59',NULL,'?좎씤??),(70,14,2,1,'%E3%85%8B%E3%85%8B%E3%85%8B','2022-12-21 20:47:20',NULL,'?좎씤??),(71,14,2,1,'asdfasdf','2022-12-21 20:56:45',NULL,'?좎씤??),(72,14,2,1,'%EC%95%88%EB%85%95','2022-12-21 21:07:14',NULL,'?좎씤??),(73,14,1,1,'%EB%B0%98%EA%B0%80%EC%9B%8C%EC%9C%A0','2022-12-21 21:09:13',NULL,'?꾩씠??),(74,14,1,1,'%E3%85%8E%E3%85%8E%E3%85%8E','2022-12-21 21:10:07',NULL,'?꾩씠??),(75,14,1,1,'%E3%85%8B%E3%85%8B%E3%85%8B','2022-12-21 21:12:01',NULL,'?꾩씠??),(76,14,2,1,'%E3%85%81%E3%84%B4%E3%85%87%E3%84%BB%E3%84%B4%E3%85%87%E3%84%B9','2022-12-21 21:13:03',NULL,'?좎씤??),(77,14,1,1,'%E3%85%8B%E3%85%8B','2022-12-21 21:15:47',NULL,'?꾩씠??),(78,14,1,1,'%E3%84%B4%E3%85%81%E3%85%87%E3%84%B9','2022-12-21 21:16:17',NULL,'?꾩씠??),(79,14,1,1,'asdf','2022-12-21 21:16:26',NULL,'?꾩씠??),(80,13,2,1,'asdf','2022-12-22 02:07:18',NULL,'?좎씤??),(81,13,2,1,'%E3%85%8B%E3%85%8B%E3%85%8B','2022-12-22 02:07:32',NULL,'?좎씤??),(82,13,1,1,'%EB%B0%98%EA%B0%80%EC%9B%8C','2022-12-22 02:07:36',NULL,'?꾩씠??),(83,13,2,1,'%E3%85%8B%E3%85%8B%E3%85%8B','2022-12-22 02:08:02',NULL,'?좎씤??),(84,13,2,1,'%E3%85%8E%E3%85%8E%E3%85%8E','2022-12-22 02:08:10',NULL,'?좎씤??),(85,18,2,3,'','2022-12-22 05:16:32',NULL,'?좎씤??),(86,17,1,3,'','2022-12-22 05:57:48',NULL,'?꾩씠??),(87,13,2,1,'asdf','2022-12-22 05:59:24',NULL,'?좎씤??),(88,13,2,1,'asdf','2022-12-22 05:59:25',NULL,'?좎씤??),(89,21,2,3,'','2022-12-22 06:04:44',NULL,'?좎씤??),(90,22,2,3,'','2022-12-22 06:22:20',NULL,'?좎씤??),(91,20,2,1,'Hello','2022-12-22 06:23:09',NULL,'?좎씤??),(92,13,2,1,'asdf','2022-12-22 06:25:44',NULL,'?좎씤??),(93,13,2,1,'sdf','2022-12-22 06:25:45',NULL,'?좎씤??),(94,23,1,3,'','2022-12-22 06:31:59',NULL,'?꾩씠??),(95,24,2,3,'','2022-12-22 06:35:35',NULL,'?좎씤??),(96,13,1,2,'','2022-12-22 07:16:00',NULL,'?꾩씠??),(97,13,1,2,'','2022-12-22 07:23:53',NULL,'?꾩씠??),(98,13,1,1,'asdf','2022-12-22 07:25:49',NULL,'?꾩씠??),(99,13,1,1,'asdf','2022-12-22 07:26:23',NULL,'?꾩씠??),(100,13,1,2,'','2022-12-22 07:26:38',NULL,'?꾩씠??),(101,13,1,1,'asdf','2022-12-22 07:28:33',NULL,'?꾩씠??),(102,13,1,1,'asdf','2022-12-22 07:29:26',NULL,'?꾩씠??),(103,13,1,2,'','2022-12-22 07:29:39','1671694175192ui.PNG','?꾩씠??),(104,13,1,1,'zxcvxc','2022-12-22 07:29:42',NULL,'?꾩씠??),(105,13,1,1,'zzz.','2022-12-22 07:29:50',NULL,'?꾩씠??),(106,13,1,2,'','2022-12-22 07:30:26','1671694225448iu.PNG','?꾩씠??),(107,13,1,1,'hihi','2022-12-22 07:30:32',NULL,'?꾩씠??),(108,13,1,1,'asdfsdf','2022-12-22 07:30:42',NULL,'?꾩씠??),(109,13,1,2,'','2022-12-22 07:31:28','1671694285485ui.PNG','?꾩씠??),(110,13,1,2,'','2022-12-22 07:32:24','1671694340918ui.PNG','?꾩씠??),(111,13,2,1,'hihi','2022-12-22 07:32:33',NULL,'?좎씤??);
/*!40000 ALTER TABLE `message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `read_info`
--

DROP TABLE IF EXISTS `read_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `read_info` (
  `id` int NOT NULL AUTO_INCREMENT,
  `conversation_id` int DEFAULT NULL,
  `user_id` int DEFAULT NULL,
  `last_message_id` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=305 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `read_info`
--

LOCK TABLES `read_info` WRITE;
/*!40000 ALTER TABLE `read_info` DISABLE KEYS */;
/*!40000 ALTER TABLE `read_info` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_conversation`
--

DROP TABLE IF EXISTS `user_conversation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_conversation` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `conversation_id` int DEFAULT NULL,
  `is_block` tinyint(1) DEFAULT NULL,
  `is_alarm` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_conversation`
--

LOCK TABLES `user_conversation` WRITE;
/*!40000 ALTER TABLE `user_conversation` DISABLE KEYS */;
INSERT INTO `user_conversation` VALUES (7,1,13,0,1),(8,2,13,0,1),(9,1,14,0,1),(10,2,14,0,1),(11,1,15,0,1),(12,2,15,0,1),(13,1,16,0,1),(14,2,16,0,1),(21,1,20,0,1),(22,2,20,0,1),(25,1,22,0,1);
/*!40000 ALTER TABLE `user_conversation` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2022-12-22 17:32:09
